GCP_PROJECT_ID=summer-optics-501702-q5
GCP_LOCATION=us
GCP_PROCESSOR_ID=3185d81531cbd5d
GOOGLE_APPLICATION_CREDENTIALS=summer-optics-501702-q5-a1a63929c753.json
POPPLER_PATH=Release-26.02.0-0\poppler-26.02.0\Library\bin

PROJECT_NAME=Table Extractor API
MAX_CONCURRENT_WORKERS=5
HOST=127.0.0.1
PORT=3000
DEBUG=True
